.listYourself{
    position: relative;
}
.listYourself::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 1px;
    width: 0%;
    background: #000;
    transition: all 0.3s;
}
.listYourself:focus::before{
    width: 100%;
    transition: all 0.3s;
    left: 0%;
}
.listYourself:focus{
    font-weight: bold;
}
