<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>

<body>
    <div class="w-[100%] h-[460px] relative">
        <img class="w-[100vw] h-[460px] "
            src="https://c.wallhere.com/photos/a7/3c/Monika_Jagaciak_women_model-795487.jpg!d" alt="">
        <div class="absolute left-[30%] top-[28%]">
            <h2 class=" text-6xl font-bold text-white">Blog - Shop</h2>
            <h3 class=" text-xl mt-5 -ml-[10%] text-gray-500">featured products from famous designers</h3>
        </div>
    </div>
    <div class="w-[1350px] mx-auto mt-10">
        <div class="">
            <h2 class="text-xl text-pink-500">VOYAGE is proud to be the 5rd ranked fashion brand in the world.</h2>
            <br>
            <p>- Show Fashion Voyage No. 5 performed by director Long Kan, with the companionship of Sun Group, with the
                theme "Dating with a kiss", takes place from April 7-8 in Hoang Long town. Kiss, Phu Quoc, Kien Giang.
                The program is an opportunity for big names in the design industry, models, stars, to strut together on
                the catwalks on Ngoc Island.</p>
            <img class="w-[800px] h-[400px] mx-auto"
                src="https://i1-dulich.vnecdn.net/2023/03/16/Anh-1-Hop-bao-Fashion-Voyage-s-1944-5834-1678952853.jpg?w=1020&h=0&q=100&dpr=1&fit=crop&s=9GXqS5F9Cs56oTgySA7QuQ"
                alt="">

            <h2 class="text-center text-4xl mt-20 mb-5">Fashion Voyage No.5, and special highlights have created great
                success</h2>
            <p>In just 2 short weekends, we had the opportunity to witness a series of impressive performances in the
                most prestigious spaces in Phu Quoc, and this has created the great success of Fashion Voyage No. .5.
            </p>

            <div class="flex space-x-7 justify-center mt-10">
                <div class="">
                    <img class="w-[600px] h-[400px]"
                        src="https://www.lofficielvietnam.com/_next/image?url=https%3A%2F%2Fwww.datocms-assets.com%2F56778%2F1680927286-0070fv5-foto-kiengcan.jpeg%3Fauto%3Dformat%252Ccompress%26cs%3Dsrgb&w=3840&q=75"
                        alt="">
                </div>
                <div class="">
                    <img class="w-[600px] h-[400px]"
                        src="https://www.lofficielvietnam.com/_next/image?url=https%3A%2F%2Fwww.datocms-assets.com%2F56778%2F1681116705-fvthumb.jpg%3Fauto%3Dformat%252Ccompress%26cs%3Dsrgb&w=3840&q=75"
                        alt="">
                    <p class="text-center text-gray-500">04.10.2023 by Kim Uyên</p>
                </div>
            </div>

        </div>


        <div class="youtobe">
            <h1 class="text-xl text-green-500">BST DAYDREAMER by ADRIAN ANH TUAN [FASHION VOYAGE #3]</h1>
            <iframe class="w-[100%] h-[600px]" src="https://www.youtube.com/embed/q3BeEljzlW0"
                title="BST DAYDREAMER by ADRIAN ANH TUAN [FASHION VOYAGE #3]" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>
    </div>
</body>

</html>