<div class="flex w-[1300px] justify-center bg-gray-100">
    <div class="w-[650px] h-[75vh] border-r border-gray-200 hover:shadow-2xl hover:shadow-black duration-200">
        <div class="w-[650px] flex space-x-2 h-10 ">
            <p class="mt-1 ml-5 text-md text-gray-500 underline mb-5 fontTextLike">People you have liked: {{AllUserliked.length}} </p>
            <img class="w-7 h-7 animate__animated animate__jackInTheBox animate__repeat-1" src="https://res.cloudinary.com/darnprw0q/image/upload/v1685072834/test/love_yx7evi.png" alt="">
        </div>
        <div class="scrollMouse h-[70vh]">
            <div class=" scrollEmotionPeople " *ngFor="let showLike of AllUserliked" >
                <a routerLink="" class="w-[500px] h-20 flex space-x-3 justify-center mx-auto mt-2 rounded-full"><div class="w-[500px] h-20 flex space-x-3 hover:bg-gray-500 hover:text-white justify-center mx-auto mt-2 rounded-full border-2 border-gray-400">
                    <img class="w-16 h-16 border-2 border-pink-300 rounded-full my-auto" src={{showLike.image}} alt="">
                    <div class="flex">
                        <p class="my-auto">{{showLike.name}} - </p>
                        <p class="my-auto text-xs text-gray-400">{{showLike.age}} year old</p>
                    </div>
                </div></a>
            </div>
        </div>
    </div>
    <div class="w-[650px] h-[75vh] hover:shadow-2xl hover:shadow-black duration-200">
        <div class="w-[650px] flex space-x-2 h-10 ">
            <p class="mt-1 ml-5 text-md text-gray-500 underline mb-5 fontTextLike">People who liked you: {{AllUserBelike.length}} </p>
            <img class="w-7 h-7 animate__animated animate__jackInTheBox animate__repeat-1" src="https://res.cloudinary.com/darnprw0q/image/upload/v1685072827/test/recommend_dxx4np.png" alt="">
        </div>
        <div class="scrollMouse h-[70vh]">
            <div class="scrollEmotionPeople" *ngFor="let showLike of AllUserBelike" >
                <a routerLink="" class="w-[500px] h-20 flex space-x-3 justify-center mx-auto mt-2 rounded-full"><div class="w-[500px] h-20 flex space-x-3 hover:bg-gray-500 hover:text-white justify-center mx-auto mt-2 rounded-full border-2 border-gray-400">
                    <img class="w-16 h-16 border-2 border-pink-300 rounded-full my-auto" src={{showLike.image}} alt="">
                    <div class="flex">
                        <p class="my-auto">{{showLike.name}} - </p>
                        <p class="my-auto text-xs text-gray-400">{{showLike.age}} year old</p>
                    </div>
                </div></a>
            </div>
        </div>
    </div>
</div>