<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <div class="flex justify-between relative">
        <h2 class="font-bold text-gray-500">List Users: ({{DataUsers.length}})</h2>
        <input type="checkbox" id="addnew" hidden>
        <button class="active:scale-90 "><label for="addnew" class="font-medium cursor-pointer text-gray-600  pl-5 pr-5 border border-gray-500">Add user</label></button>
        <form (ngSubmit)="OnAddUsers()" class="w-[650px] h-[400px] bg-gray-600 absolute formAddPr rounded-md" >
            <h1 class="text-center text-2xl text-white font-bold">Add User</h1><hr>
            <p class="text-green-500 ml-2">Name:</p>
            <input type="text" [(ngModel)]="ObjectUsers.name" name="name" placeholder=" name...?" class="h-8 w-[500px] ml-[70px] outline-0 pl-2 shadow-inner shadow-gray-500">
            <p class="text-green-500 ml-2">Email:</p>
            <input type="email" [(ngModel)]="ObjectUsers.email" name="email" placeholder=" email...?" class="h-8 w-[500px] ml-[70px] outline-0 pl-2 shadow-inner shadow-gray-500">
            <p class="text-green-500 ml-2">Password:</p>
            <input type="password" [(ngModel)]="ObjectUsers.pass" name="pass" placeholder=" pass...?" class="h-8 w-[500px] ml-[70px] outline-0 pl-2 shadow-inner shadow-gray-500">
            <p class="text-green-500 ml-2">Re-password:</p>
            <input type="password" [(ngModel)]="ObjectUsers.repass" name="repass" placeholder=" repass...?" class="h-8 w-[500px] ml-[70px] outline-0 pl-2 shadow-inner shadow-gray-500">
            <div class="flex justify-center">
                <button class="w-44 h-8 mt-5 bg-white rounded-md active:scale-90 duration-100">Add</button>
            </div>
        </form>
       <!-- <label for="addnew" class="" ><img class="w-7 h-7 top-96 absolute" src="https://res.cloudinary.com/darnprw0q/image/upload/v1685516561/test/cancel_q1i46b.png" alt=""></label> -->
    </div>
    <div class="w-[960px] h-[564px] rounded-md bg-sky-200 scrollManager">
        <table class="text-center w-[940px] rounded-md overflow-hidden">
            <thead>
                <tr class="bg-black text-white font-medium">
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Handle</th>
                </tr>
            </thead>

            <tbody class="">
                <tr *ngFor="let show of DataUsers; index as i" class="hover:bg-gray-500 hover:text-white" title={{show.name}}>
                    <td>{{i+1}}</td>
                    <td>{{show.name}}</td>
                    <td>{{show.email}}</td>
                    <td class=""><input type="password" class="" value={{show.repass}} disabled></td>
                    <td class="flex justify-center space-x-1 n">
                        <button (click)="RemoveUser(show._id)" class="w-24 h-8 bg-red-400  active:scale-90 duration-100 active:bg-red-500 text-white">Remove</button>
                        <!-- <button class="w-24 h-8 bg-blue-400  active:scale-90 duration-100 active:bg-blue-500 text-white">Update</button> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>