<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- Header -->
    <header class="flex justify-between bg-white sticky z-10 top-0 items-center w-[100%] shadow-md shadow-gray-100 h-24">
        <div class="left_side flex space-x-5">
            <a routerLink="">
                <img class="w-56 h-[90px]"
                src="https://res.cloudinary.com/darnprw0q/image/upload/v1685783398/img_assigment/le_voyage-_logo_-critique-10-10_mmisz2.png"
                alt="">
            </a>
            <ul class="nav">
                <a href=""><li>Home</li></a>
                <a href="category/:id"><li>Category</li></a>
                <a href="blog/:id"><li>Blog</li></a>
                <a href="contact/:id"><li>Contact</li></a>
            </ul>
        </div>
        <div class="flex items-center space-x-3">
            <form (ngSubmit)="Search()" class="bg-gray-100 h-[50px] w-[450px] rounded-md flex space-x-3">
                <input [(ngModel)]="ValueSearch" name="ValueSearch" class="rounded-md w-96 h-8 ml-2 my-auto outline-0 pl-1" type="text" placeholder=" search...">
                <button><img class="w-7 h-7" src="https://res.cloudinary.com/darnprw0q/image/upload/v1685791202/img_assigment/search_vaf9ia.png" alt=""></button>
            </form>
            <p class="hover:text-orange-500 cursor-pointer">+84 234 567890</p>
        </div>
        <div class="right_side flex items-center space-x-3 mr-10">
            
            <div *ngIf="DataUser_Signin_up.o=='ok'" class="">
                <div class="relative shellControlUser">
                    <div class="cursor-pointer flex space-x-2 hover:text-gray-600 ">
                        <img class=" w-7 h-7" src="https://res.cloudinary.com/darnprw0q/image/upload/v1685791202/img_assigment/user_e6v2qw.png" alt="">
                    </div>
                    <div class="w-[300px] h-[80px] bg-gray-700 rounded-lg innerHidden">
                        <div class="flex justify-center mt-5">
                            <a href="signin_up" class="w-48 hover:font-bold hover:w-56 duration-100 rounded-xl ">
                                <button class="p-1 w-48 hover:font-bold hover:w-56 duration-100 rounded-xl bg-white flex justify-center">Sign-in<img class="w-7 h-7" src="https://res.cloudinary.com/darnprw0q/image/upload/v1686470157/img_assigment/log-in_kggkwc.png" alt=""></button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div *ngIf="DataUser_Signin_up.status==true" class="">
                <div class="relative shellControlUser">
                    <div class="cursor-pointer flex space-x-2 hover:text-gray-600 ">
                        <li class="text-green-500"></li>
                        <img class=" w-7 h-7" src="https://res.cloudinary.com/darnprw0q/image/upload/v1685791202/img_assigment/user_e6v2qw.png" alt="">
                        <p class="vector -rotate-90 duration-200">></p>
                        <p class="my-auto text-orange-500">{{DataUser_Signin_up.name}}</p>
                    </div>
                    <!-- hidden -->
                    <div class="w-[300px] h-[300px] bg-gray-700 rounded-lg innerHidden">
                        <div class="w-[300px h-14 bg-gray-400 rounded-t-lg"></div>
                        <img class="w-[74px] h-[74px] rounded-full absolute top-[18px] left-[110px]" src={{DataUser_Signin_up.image}} alt="">
                        <button><img class="w-4 h-4 absolute top-[73px] duration-200 left-[164px]" src="https://res.cloudinary.com/darnprw0q/image/upload/v1686150669/img_assigment/synchronize_zlj67s.png" alt=""></button>
                        <p class="text-white text-center mt-2 text-xl">{{DataUser_Signin_up.name}}</p>
                        <p class="text-center text-sky-500">{{DataUser_Signin_up.email}}</p>
                        <div *ngIf="this.DataUser_Signin_up.role=='admin'" class="flex justify-center mt-5">
                            <a href="admin/{{DataUser_Signin_up._id}}" class="w-48 hover:font-bold hover:w-56 duration-100 rounded-xl ">
                                <button class="p-1 w-48 hover:font-bold hover:w-56 duration-100 rounded-xl bg-white">Manager Panel</button>
                            </a>
                        </div>
                        <div *ngIf="this.DataUser_Signin_up.role==undefined" class="flex justify-center mt-5">
                            <a href="adminUser/{{DataUser_Signin_up._id}}" class="w-48 hover:font-bold hover:w-56 duration-100 rounded-xl ">
                                <button class="p-1 w-48 hover:font-bold hover:w-56 duration-100 rounded-xl bg-white">Manager Panel</button>
                            </a>
                        </div>
                        <div class="flex justify-center mt-5">
                            <button (click)="LogOut(DataUser_Signin_up._id)" class="p-1 w-48 hover:font-bold hover:w-56 duration-100 rounded-xl bg-white">Log-out</button>
                        </div>
                    </div>
                </div>
            </div>
            <div  *ngIf="DataUser_Signin_up.o=='ok'">
                <a href="cart/:id">
                    <img class="hover:border-2 border-white w-7 h-7" src="https://res.cloudinary.com/darnprw0q/image/upload/v1685792065/img_assigment/shopping-cart_fcdfrw.png" alt="">
                </a>
            </div>
            <div  *ngIf="DataUser_Signin_up.status==true">
                <a href="cart/{{DataUser_Signin_up._id}}">
                    <img class="hover:border-2 border-white w-7 h-7" src="https://res.cloudinary.com/darnprw0q/image/upload/v1685792065/img_assigment/shopping-cart_fcdfrw.png" alt="">
                </a>
            </div>
            
        </div>
    </header>
<!-- Main -->

    <main>
        <router-outlet/>
    </main>

<!-- Footer -->

    <footer class=" mt-16">
        <hr>
        <div class="w-[98vw] flex justify-around space-x-5">
            <div class="w-[30vw] bg-gray-50">
                <a href=""><img src="https://res.cloudinary.com/darnprw0q/image/upload/v1685794002/img_assigment/718-7185848_voyage-logo_miy7eu.png" alt=""></a>
                <p class="mt-6 ml-3">Address: Room 23, 10th floor, DPCH Building</p>
                <p class="mt-6 ml-3">Customer care: 0243.9388512</p>
                <p class="mt-6 ml-3">Shopping online: 0246.2909098</p>
            </div>
            <div class="w-[30vw] bg-gray-50">
                <p class="text-center font-medium text-sm mb-10">DELIVERY POLICY</p>
                <p class="mt-7 ml-2 hover:text-orange-400 cursor-pointer">Address: Room 23, 10th floor, DPCH Building</p>
                <p class="mt-7 ml-2 hover:text-orange-400 cursor-pointer">Address: Room 23, 10th floor, DPCH Building</p>
                <p class="mt-7 ml-2 hover:text-orange-400 cursor-pointer">Address: Room 23, 10th floor, DPCH Building</p>
            </div>
            <div class="w-[30vw] bg-gray-50">
                <p class="text-center font-medium text-sm mb-10">CUSTOMER GRATITUDE</p>
                <p class="mt-7 ml-2 hover:text-orange-400 cursor-pointer">Address: Room 23, 10th floor, DPCH Building</p>
                <p class="mt-7 ml-2 hover:text-orange-400 cursor-pointer">Address: Room 23, 10th floor, DPCH Building</p>
                <p class="mt-7 ml-2 hover:text-orange-400 cursor-pointer">Address: Room 23, 10th floor, DPCH Building</p>
            </div>
            <div class="w-[30vw] bg-gray-50">
                <p class="text-center font-medium text-sm mb-10">FEED BACK</p>
                <p class="mt-7 ml-2 hover:text-orange-400 cursor-pointer">Address: Room 23, 10th floor, DPCH Building</p>
                <p class="mt-7 ml-2 hover:text-orange-400 cursor-pointer">Address: Room 23, 10th floor, DPCH Building</p>
                <p class="mt-7 ml-2 hover:text-orange-400 cursor-pointer">Address: Room 23, 10th floor, DPCH Building</p>
            </div>
        </div>
        <br>
        <hr>
        <div class="flex justify-around">
            <div class="">
                © 2022 - Bản quyền Atrox. Cung cấp bởi Voyage
            </div>
            <div class="">
                
            </div>
        </div>
    </footer>
</body>

</html>