<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <div class="w-[1400px] h-[700px] shadow-lg shadow-gray-500 mt-5 mx-auto rounded-md flex">
        <div class="w-[400px] h-[700px] rounded-l-md bg-gray-800">
            <a href="">
                <img class="w-8 h-8 bg-white rounded-2xl p-1 ml-1 mt-1 active:scale-90 duration-100" src="https://res.cloudinary.com/darnprw0q/image/upload/v1686308572/img_assigment/return_pkxbx3.png" alt="">
            </a>
            <!-- <img class="w-20 h-20" src="https://res.cloudinary.com/darnprw0q/image/upload/v1686307699/img_assigment/gear_pdgshs.png" alt=""> -->
            <div class="w-[400px]">
                <div class="imageProfile w-[300px] mx-auto text-center bg-gray-700 rounded-2xl">
                    <p class="h-1"></p>
                    <img class="w-16 h-16 rounded-full mx-auto border border-white" src={{DataAuthor.image}} alt="">
                    <p class="text-white text-lg">{{DataAuthor.name}}</p><hr>
                    <p class="text-sky-500">{{DataAuthor.email}}</p>
                </div>
            </div>
            <div class="w-[300px] h-[480px] text-center rounded-md mx-auto mt-7 bg-gray-300">
                <p class="h-10"></p>
                <div class="w-[200px] h-10 bg-gray-500 rounded-2xl mb-5 mx-auto font-medium text-white active:scale-90 duration-100">
                    <a routerLink="dashboard/{{DataAuthor._id}}" class="h-10 w-[200px]">
                        <div class="w-[200px] h-10 leading-10 rounded-2xl bg-gray-700 mb-5 mx-auto">
                            Dashboard
                        </div>
                    </a>
                </div>
                <div class="w-[200px] h-10 bg-gray-500 rounded-2xl mb-5 mx-auto font-medium text-white active:scale-90 duration-100">
                    <a routerLink="products/{{DataAuthor._id}}" class="h-10 w-[200px]">
                        <div class="w-[200px] h-10 leading-10 rounded-2xl bg-gray-700 mb-5 mx-auto">
                            Products
                        </div>
                    </a>
                </div>
                <div class="w-[200px] h-10 bg-gray-500 rounded-2xl mb-5 mx-auto font-medium text-white active:scale-90 duration-100">
                    <a routerLink="categories/{{DataAuthor._id}}" class="h-10 w-[200px]">
                        <div class="w-[200px] h-10 leading-10 rounded-2xl bg-gray-700 mb-5 mx-auto">
                            Categories
                        </div>
                    </a>
                </div>
                <div class="w-[200px] h-10 bg-gray-500 rounded-2xl mb-5 mx-auto font-medium text-white active:scale-90 duration-100">
                    <a routerLink="users/{{DataAuthor._id}}" class="h-10 w-[200px]">
                        <div class="w-[200px] h-10 leading-10 rounded-2xl bg-gray-700 mb-5 mx-auto">
                            Users
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="w-[1000px] h-[700px] rounded-r-md bg-sky-100 relative">
            <div class="w-[960px] mx-auto rounded-md mt-2 h-20 bg-sky-500 flex justify-around">
                <form (ngSubmit)="Search()" class="flex space-x-1">
                    <input type="text" [(ngModel)]="DataSearch.value" name="value" placeholder=" search... ?" class="outline-0 pl-2 h-10 my-auto rounded-l-md w-[500px]">
                    <select [(ngModel)]="DataSearch.option" name="option" class="w-36 h-10 my-auto outline-0 text-gray-600">
                        <option value="">option</option>
                        <option value="categories">categories</option>
                        <option value="products">products</option>
                        <option value="users">users</option>
                    </select>
                    <button class="w-28 h-10 my-auto bg-white rounded-r-md active:scale-90 duration-100"><img class="w-7 h-7 mx-auto" src="https://res.cloudinary.com/darnprw0q/image/upload/v1685791202/img_assigment/search_vaf9ia.png" alt=""></button>
                </form>
                <input type="checkbox" hidden id="ok">
                <label for="ok" class=" my-auto"><img class="w-10 cursor-pointer hover:-translate-y-[2px] my-auto h-10" src="https://res.cloudinary.com/darnprw0q/image/upload/v1686578784/img_assigment/writing_rwnhtb.png" alt=""></label>
                
                <div class="w-[270px] h-[500px] bg-gray-200 absolute ok2">
                    <div class="" *ngFor="let show of DataAuthor.message;index as i">
                        <div class="flex justify-between">
                            <div class="flex space-x-1">
                                <img class="w-8 h-8 rounded-full" src={{show.image}} alt="">
                                <div class="">
                                    <p class="text-xs">{{show.name}}-({{show.phone}})</p>
                                    <p class="text-xs text-blue-500">{{show.email}}</p>
                                </div>
                                
                            </div>
                            <div *ngFor="let y of InforAnonymous">
                                <!-- *ngFor="let y of InforAnonymous"  -->
                                <img *ngIf="y._id==show.idUser" class="w-5 h-5" title="{{y.email}} and Id: {{y._id}}" src="https://res.cloudinary.com/darnprw0q/image/upload/v1686580232/img_assigment/loupe_sbs1zu.png" alt="">
                            </div>
                        </div>
                        <div class="w-[250px] bg-sky-100 mx-auto">
                            <p>- {{show.message}}</p>
                        </div>
                    </div>
                </div>
                <div class="bg-white h-fit w-fit rounded-full my-auto lightlamp flex space-x-1">
                    <img class="w-10 h-10 p-1 active:scale-90 duration-100 cursor-pointer lamp" src="https://res.cloudinary.com/darnprw0q/image/upload/v1686402423/img_assigment/brightness_y654k5.png" alt=""><span class="font-bold text-yellow-500 my-auto pr-2">: On</span>
                </div>
            </div>
            <hr>
            <div class="w-[960px] mx-auto rounded-md mt-2">
                <router-outlet/>
            </div>
        </div>
    </div>
</body>
</html>
