<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
</head>
<body class="relative">
    <div class="flex justify-between relative">
        <h2 class="font-bold text-gray-500">List: ({{DataCategory.length}})</h2>
        <input type="checkbox" id="addnew" hidden>
        <button class="active:scale-90 "><label for="addnew" class="font-medium cursor-pointer text-gray-600  pl-5 pr-5 border border-gray-500">Add new</label></button>
        <form (ngSubmit)="OnAddCt()" class="w-[650px] h-[300px] bg-gray-600 absolute formAddPr rounded-md" >
            <h1 class="text-center text-2xl text-white font-bold">Add category</h1><hr>
            <p class="text-white ml-2">Name-list:</p>
            <input type="text" [(ngModel)]="NameList.nameList" name="nameList" placeholder=" name-list...?" class="ml-5 pl-2 outline-0 h-8 w-[600px]">
            <div class="flex justify-center">
                <button class="w-44 h-8 bg-white rounded-md mt-5 active:scale-90 duration-100 font-bold">Add</button>
            </div>
        </form>
       <!-- <label for="addnew" class="" ><img class="w-7 h-7 top-96 absolute" src="https://res.cloudinary.com/darnprw0q/image/upload/v1685516561/test/cancel_q1i46b.png" alt=""></label> -->
    </div>
    <div class="w-[960px] h-[564px] rounded-md bg-sky-200 scrollManager">
        <table class="text-center w-[940px] rounded-md overflow-hidden">
            <thead>
                <tr class="bg-black text-white font-medium">
                    <th>#</th>
                    <th>Name</th>
                    <th>Quantity(SP)</th>
                    <th>Handle</th>
                </tr>
            </thead>

            <tbody class="">
                <tr *ngFor="let show of DataCategory; index as i" class="hover:bg-gray-500 hover:text-white" title={{show.nameList}}>
                    <td>{{i+1}}</td>
                    <td>{{show.nameList}}</td>
                    <td>{{show.products.length}}</td>
                    <td class="flex justify-center space-x-1 n">
                        <button (click)="RemoveCt(show._id)" class="w-24 h-8 bg-red-400  active:scale-90 duration-100 active:bg-red-500 text-white">Remove</button>
                        <input type="checkbox" id="checkUD" hidden>
                        <label for="checkUD" (click)="UpdateCt1(show._id)" class="w-24 h-8 bg-blue-400 cursor-pointer active:scale-90 duration-100 active:bg-blue-500 text-white leading-8">Update</label>
                        <form (ngSubmit)="UpdateCt2()" class="w-[650px] h-[300px] bg-gray-800 absolute text-black UDform rounded-md" >
                            <h1 class="text-center text-2xl text-white font-bold">Update category</h1><hr>
                            <p class="text-white ml-2">Name-list:</p>
                            <input type="text" [(ngModel)]="ObjectUDCategory.nameList" name="nameList" placeholder=" name-list...?" class="ml-5 pl-2 outline-0 h-8 w-[600px]">
                            <div class="flex justify-center">
                                <button class="w-44 h-8 bg-white rounded-md mt-5 active:scale-90 duration-100 font-bold">Add</button>
                            </div>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>