table,th,tr,td{
    border: 1px solid gray;
}
.scrollManager{
    overflow-y: scroll;
}
.scrollManager::-webkit-scrollbar{
    width: 10px;
}
.scrollManager::-webkit-scrollbar-thumb{
    background: rgb(255, 255, 255);
    border-radius: 10px;
}
.formAddPr,.imgAddnew{
    opacity: 0;
    z-index: -1;
    transition: all 0.3s;
}
#addnew:checked ~ .formAddPr{
    opacity: 1;
    z-index: 2;
    transition: all 0.3s;
}
.n{border: none;}
.UDform{
    top: 0px;
    left: 0;
    opacity: 0;
    z-index: -1;
    transition: all 0.3s;
}
#checkUD:checked ~ .UDform{
    opacity: 1;
    z-index: 5;
    transition: all 0.3s;
}