<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Body</title>
</head>
<body>
    <!-- Banner -->
    <section class="banner">
        <img class="w-[100vw] h-[60vh] imageBanner" src="https://res.cloudinary.com/darnprw0q/image/upload/v1685798742/img_assigment/%E1%BA%A2nh_ch%E1%BB%A5p_m%C3%A0n_h%C3%ACnh_2023-06-03_101246_mqfyxo.png" alt="">
    </section>
    <!-- Show products -->
    <div class="w-[1400px] mx-auto ">
        <!-- Product-1 Limit-->
        <section class="products1 ">
            <h1 class="text-center font-bold text-4xl text-gray-500 mt-10 mb-10">Latest Collection 2023</h1>
            <div class="grid grid-cols-4 gap-10 products1-1">
                <div *ngFor="let limitPr of DataProductsLimit1">
                    <div class="w-[280px] col-span-1 ml-5 mb-5 relative">
                        <div class="shellOut">
                            <img class="w-[280px] h-[360px] hidden1 duration-200" src={{limitPr.image}} alt="">
                            <div class="w-[160px] ml-[20%] rounded-md border font-bold bg-white hidden2">
                                <a href="details/{{limitPr._id}}"><p class="text-center p-1">See now</p></a>
                            </div>
                        </div>
                        <div class="w-[280px] h-10 text-center">
                            <p class="text-md textName">{{limitPr.name}}</p>
                            <div class="flex justify-center space-x-8">
                                <p class="text-xl text-orange-500 textPrice">${{limitPr.price}}</p>
                                <a href=""><img class="w-7 h-7" src="https://res.cloudinary.com/darnprw0q/image/upload/v1684937219/test/heart_2_wwdjc0.png" alt=""></a>
                                <!-- <a href="cart/{{limitPr._id}}"></a> -->
                                <button (click)="AddCart(limitPr._id)"><img class="w-7 h-7 hover:scale-110 duration-100" src="https://res.cloudinary.com/darnprw0q/image/upload/v1685792065/img_assigment/shopping-cart_fcdfrw.png" alt=""></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Explore -->
        <div class="flex space-x-5 items-center mt-28">
            <img class="w-16 h-10" src="https://res.cloudinary.com/darnprw0q/image/upload/v1685800427/img_assigment/right-arrow_uruzmm.png" alt="">
            <p class="text-green-500">Trending trend of hot summer days</p>
        </div>
        <section class="introduction flex justify-around  bg-gray-50 h-[900px]">
            <div class="w-[600px] ">
                <img class="w-[600px] h-[800px]" src="https://res.cloudinary.com/darnprw0q/image/upload/v1685800296/img_assigment/sg-11134201-23020-juuckkyaxbnvc4_qn7fmc.png" alt="">
            </div>
            <div class="w-[500px] ">
                <h1 class="mt-36 text-6xl font-bold text-center text-red-500">Summer 2023</h1>
                <h2 class="text-sky-600 text-2xl mt-20">- ONE MORE PRODUCT THAT WAS APPEARS IN FASHION VOYAGE NO.5 SHOW OUTSIDE INTERNATIONAL .</h2>
                <p>Expressing a cool, dynamic style and extremely suitable for young people, the timeless classic material – Voyage. This material is resistant to moisture and keeps warm quite well, suitable for hot summer days.</p>
                <a href="category/:id">
                    <button class="mt-20 w-96 h-10 border border-black hover:bg-black hover:text-white ml-16">Explore now</button>
                </a>
            </div>
        </section>
        <!-- Product-2 Limit-->
        <section class="products2">
            <h1 class="text-center font-bold text-4xl text-gray-500 mt-10 mb-4">Top selling products</h1>
            <p class="text-center text-gray-700 mb-10">your most suitable choice in 2023</p>
            <div class="grid grid-cols-5">
                <div *ngFor="let limitPr of DataProductsLimit2">
                    <div class="w-[250px] col-span-1 ml-5 mb-5 relative">
                        <div class="shellOut">
                            <img class="w-[250px] h-[360px] hidden1 duration-200" src={{limitPr.image}} alt="">
                            <div class="w-[160px] ml-[20%] rounded-md border font-bold bg-white hidden2">
                                <a href="details/{{limitPr._id}}"><p class="text-center p-1">See now</p></a>
                            </div>
                        </div>
                        <div class="w-[250px] h-10 text-center">
                            <p class="text-md textName">{{limitPr.name}}</p>
                            <div class="flex justify-center space-x-8">
                                <p class="text-xl text-orange-500 textPrice">${{limitPr.price}}</p>
                                <a href=""><img class="w-7 h-7" src="https://res.cloudinary.com/darnprw0q/image/upload/v1684937219/test/heart_2_wwdjc0.png" alt=""></a>
                                <button (click)="AddCart(limitPr._id)"><img class="w-7 h-7" src="https://res.cloudinary.com/darnprw0q/image/upload/v1685792065/img_assigment/shopping-cart_fcdfrw.png" alt=""></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>